figure {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

.image-block {
    border: 5px solid white;
    margin: 1rem;
}

