<figure>
    <img 
    class="image-block" 
    mat-button 
    (click)="thorClick($event)" 
    (mouseenter)="thorHover($event)"
    src="../../assets/DZ9UkvCVMAAFsOE.jpg">
    <figcaption>THOR</figcaption>
</figure>

<figure>
    <img 
    class="image-block" 
    mat-button 
    (click)="ironManClick($event)" 
    (mouseenter)="ironManHover($event)"
    src="../../assets/avengersposters.jpg">
    <figcaption>IRON MAN</figcaption>
</figure>

<figure>
    <img 
    class="image-block" 
    mat-button 
    (click)="hulkClick($event)" 
    (mouseenter)="hulkHover($event)"
    src="../../assets/avengers-infinity-war-character-posters-hulk-1099234.jpeg">
    <figcaption>HULK</figcaption>
</figure>

<figure>
    <img 
    class="image-block" 
    mat-button 
    (click)="blackWidowClick($event)" 
    (mouseenter)="blackWidowHover($event)"
    src="../../assets/avengers-infinity-war-character-posters-black-widow-1099218.jpeg">
    <figcaption>BLACK WIDOW</figcaption>
</figure>

<figure>
    <img 
    class="image-block" 
    mat-button 
    (click)="capClick($event)" 
    (mouseenter)="capHover($event)"
    src="../../assets/a-new-wave-of-avengers-infinity-war-character-posters-have-just-been-unleashed.jpg">
    <figcaption>CAPTAIN AMERICA</figcaption>
</figure>